/* .contact-page .theme-form input,select.form-control  {
    border-color: #dddddd;
    font-size: 15px;
    padding: 12px 10px;
    margin-bottom: 5px;
    height: inherit !important;
} */
.form-control-feedback{
    color: red;
}
.flash-message .alert.alert-danger{
    margin: 25px;
    margin-bottom: -10px;
    border-radius: 0;
}
.h-48{
    height: 48px;
}
input[type=file]{
    padding: 9px 10px !important;
}
/* select.form-control{
    padding: 13px 10px;
} */

tbody.newRow tr td select {
    padding: 9px !important;
}

.error{
    color: red !important;
}

input.form-control.error {
    border-color: red;
}


.top-header .header-dropdown .onhover-dropdown .onhover-show-div li a {
    color: #333333;
    padding: 5px;
}


.onhover-dropdown .onhover-show-div {
    min-width: 240px;
}

.onhover-show-div li:hover {
    border-bottom: 1px solid;
}
/* .onhover-show-div li:hover {
    background-color: #fff;
    color: #ff5a80 !important;
    opacity: 1;
} */


.authentication-box .container .svg-icon {
    padding: 0px;
    margin: 0 auto;
    border: 2px dashed #ffffff;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-b-space{
    padding-bottom: 55px;
    padding-top: 55px;
}

.auth-form .form-control {
    border-radius: 0px !important;
}


/* //////////////////////////////////// Hadayet Ali \\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*Main Sections CSS Start*/
.seller-center-wrap {
    background-color: #fff;
    min-height: 540px;
    padding: 45px 45px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
/*Main Sections CSS End*/


/*Seller Center Start*/
.seller-center-wrap h2 {
    margin-bottom: 50px;
}
.step-box img {
    width: 38px;
    margin-bottom: 10px;
}
.selling-steps {
    justify-content: center;
    margin-bottom: 15px;
}
.step-box {
    width: 100px;
    margin: 10px;
}
.arrow img {
    height: 16px;
    margin-top: 20px;
}
.step-box p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 700;
    color: #212529;
}
.step-content {
    align-items: center;
}
.step-box .step-content span {
    font-size: 31px;
}
/*Seller Center End*/

/*Seller Features Start*/
.seller-features {
    margin-top: 30px;
}
.selling-steps-wrap h4, .seller-features h4 {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 30px;
    color: #f4650f;
}
.seller-features span {
    font-weight: 700;
    font-size: 15px;
    margin: 0 15px;
}
.seller-features img {
    height: 30px;
    margin-right: 8px;
}
/*Seller Features End*/

/*Seller Footer Part Start*/
.seller-center-footer {
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.logo-wrap img {
    height: 30px;
}
.app-download-text {
    width: 130px;
    text-align: left;
    font-size: 13px;
    margin-left: 13px;
}
.seller-center-footer {
    justify-content: space-between;
    margin-top: 40px;
}
/*Seller Footer Part End*/

/*Registration Form CSS Start*/
#reg-from-area h3 {
    color: #1a202c;
    margin-bottom: 23px;
    font-size: 30px;
}
.reg-form-button button {
    background-color: #1a202c;
    color: #fff;
    font-size: 17px;
    border: none;
    padding: 7px 7px 10px;
    height: 50px;
    font-weight: 600;
    text-transform: capitalize;
}
#reg-from-area .form-control {
    background-color: rgb(237, 242, 247);
    border-color: transparent;
    height: 50px;
    padding: 14px 15px 19px;
}
#reg-from-area .form-control:focus {
    box-shadow: none;
}
#reg-from-area .input-group-text {
    background-color: rgb(237, 242, 247);
    border: none;
    border-right: 1px solid rgb(213, 225, 236);
    border-radius: 0;
    padding: 0 10px 4px;
}
#reg-from-area .input-group-prepend {
    height: 48px;
    margin-top: 1px;
}
/*Registration Form CSS End*/

#sell_on_andbaazar_banner {
    padding: 50px 0;
    text-align: center;
    min-height: 100vh;
    background-color: #4841412b;
    display: flex;
    align-items: center;
}
.sell-link-top a{
/* color: #fff; */
font-weight: 900;
color: #000;
font-size: 24px;
}
.sell-link-top{
    text-align: right;
}
.sell-link-top i{
    /* color: #fff; */
    font-size: 24px;
}
.sell-register-from {
    background-color: #fff;
    min-height: 540px;
    padding: 30px 25px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}
.register-from-top-sell{
background-color: #0258a8;
padding: 20px 20px;
}
.register-from-top-sell h3{
    color: #fff;
}
.login-buttons{
    margin-top: 15px;
}
.reg-form-button button.btn-solid {
    background-image: linear-gradient(30deg, #0258a8 50%, transparent 50%);
    border: 2px solid #0258a8;
}
.login-buttons a{
    color: #fff;
    width: 100%;
    background-image: linear-gradient(30deg, #0258a8 50%, transparent 50%);
    border: 2px solid #0258a8;
}
.time-line-area{
position: relative;
margin-top: 100px;
}
.time-line-area ul{
    display: flex;
    justify-content: space-between;

}
.time-line-area ul::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 70px;
    border-top: dashed #fff;
    left: 0;
    z-index: 1;
}
.time-line-area ul li{
    background: #0258a8;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    line-height: 37px;
    position: relative;
    z-index: 999;
}
.arrows{
    position: absolute;
    font-size: 40px;
    top: 49px;
    left: -32px;
}
.arrows i{
    color: #fff;
}
.time-line-items{
    position: relative;
}
.time-line-area ul li:first-child .time-line-items .arrows{
    display: none;
}
.inners-text{
    padding-top: 35px;
}
.inners-text i{
    color: #fff;
    font-size: 28px;
}
.inners-text p{
    color: #fff;
}
.text-area-faqs h3{
    padding-bottom: 40px;
}
.card-header h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#faqs-wrappers{
    padding: 100px 0;
}
#faqs-wrappers .card{
    margin-bottom: 20px;
}
#header-area{
    background-color: #fff;
    width: 100%;
    padding: 25px 0;
}
/* footer area start */
#footer_area_sell_baazar{
    background: #000000;
    padding: 120px 0;
}
.footer-left-side{
height: 100%;
}
.footer-left-side p{
position: relative;
height: 100%;
}
.footer-left-side p a{
    text-decoration: none;
    color: #fff;
    padding: 6px 12px;
}
.footer-left-side p::after {
    content: "";
    background-color: #646665;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 99%;
    opacity: .3;
    display: block;
}
.footer-left-side p a img{
    width: 20%;
}
.email_area p a{
    color: #fff;
}
.email_area p{
    color: #fff;
}
.subscribe-area p{
    color: #fff;
}
.social-icons{
    padding-top: 20px;
}
.social-icons a i{
    color: #fff;
    font-size: 20px;
    padding-right: 10px;
}
.subscribe-area .input-group button{
color: #fff;
}
@media (max-width:992px) {
    #header-area{
        text-align: center;
    }
    .sell-link-top{
        text-align: center;
    }
.email_area{
    padding: 30px 0;
}
.footer-left-side p::after{
    display: none;
}
.arrows {
    display: none;
}
.time-line-area ul li {
    width: 100%;
}
   }

@media  only screen and (min-width: 992px) and (max-width: 1199px) {
    .step-box .step-content span {
        font-size: 26px;
        margin-right: 7px;
    }
}
@media only screen and (max-width:991px) {
    .sell-register-from {
        box-shadow: 0 0 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
        margin-top: 50px;
    }
}
@media only screen and (max-width:768px) {
    .time-line-area ul {
        display: grid;
        grid-template-columns:auto auto auto;
    }
    .time-line-area ul li {
        width: 140px;
    }
    #sell_on_andbaazar_banner {
        height: 100%;
    }
    .time-line-area ul::after {
        content: "";
      display: none;
    }
   }

@media only screen and (max-width:575px) {
    .seller-center-wrap {
        padding: 12px 17px 15px;
    }
    .step-box p {
        font-size: 12px;
    }
    .step-box .step-content span {
        font-size: 22px;
        margin-right: 5px;
    }
    .step-box img {
        width: 31px;
    }
    .seller-features img {
        height: 24px;
    }
    .seller-features span {
        font-size: 13px;
        margin: 0 9px;
    }
    .app-download-text {
        width: 125px;
        font-size: 12px;
    }
    .qr-img-wrap img {
        height: 42px;
    }
    .logo-wrap img {
        height: 24px;
    }
}
@media only screen and (max-width:479px) {
    .seller-center-wrap h2 {
        margin-bottom: 30px;
    }
    .seller-features {
        margin-top: 0;
    }
    .selling-steps {
        flex-direction: column;
        align-items: center;
    }
    .step-box {
        width: auto;
    }
    .seller-center-footer {
        flex-direction: column;
    }
    .logo-wrap {
        margin-bottom: 15px;
    }
    .arrow img {
        margin-top: 0;
        transform: rotate(93deg);
        margin-bottom: 10px;
    }
    .step-box .step-content span {
        margin-right: 7px;
    }
}

